# Ignore Python bytecode files
*.pyc

# Ignore swap files created by editors like vim
*.swp

# Ignore intermediate files
AutoPYara/intermediate/

# Ignore the CurrentLabels file in Dev
AutoPYara/Dev/CurrentLabels

# Ignore CSV files in the output directory
AutoPYara/Dev/output/
AutoPYara/Dev/move.ipynb
# Ignore CSV files in the output/dataSet directory
AutoPYara/Dev/output/dataSet/*.csv
AutoPYara/YARATest/
# Ignore the CompareVTData notebook and its checkpoint
/AutoPYara/Dev/CompareVTData.ipynb
/AutoPYara/Dev/.ipynb_checkpoints/CompareVTData.ipynb
*.ipynb_checkpoints/
AutoPYara/Dev/vt_reports/
AutoPYara/Dev/hash_cache.json
AutoPYara/Dev/cluster_output
AutoPYara/Dev/hash_cache_sdhash.json
AutoPYara/Dev/newtest
AutoPYara/Dev/sdhashexp
AutoPYara/YaraTest
AutoPYara/yaraEval/TEST.yar
AutoPYara/BuildMetrics.ipynb
AutoPYara/test_file.bin
AutoPYara/Dev/oldYaraeval/ruleEval/evalRulesMultiCore.py
Experiments/*
AutoPYara/plots/*
AutoPYara/yaraEval/*